tests/xsd_files/3_recursive_complex_type.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="person">
        <xs:complexType>
            <xs:element name="address">
                <xs:complexType>
                    <xs:attribute name="validity" type="xs:date" use="required"/>
                </xs:complexType>
        </xs:complexType>
    </xs:element>
</xs:schema>
