tests/xsd_files/4_sequence.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="person">
        <xs:complexType>
            <xs:choice>
            <xs:element name="infos">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="surname" type="xs:string"/>
                        <xs:element name="name" type="xs:string"/>
                        <xs:element name="birth" type="xs:date"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            </xs:choice>
        </xs:complexType>
    </xs:element>
</xs:schema>
