tests/xsd_files/6_ref_attribute.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="person">
        <xs:complexType>
            <xs:choice>
            <xs:element name="address">
                <xs:complexType>
                    <xs:attribute name="patate" type="xs:string"/>
                    <xs:attribute ref="validity" use="required"/>
                </xs:complexType>
            </xs:element>
            </xs:choice>
        </xs:complexType>
    </xs:element>

    <xs:attribute name="validity" type="xs:date"/>
</xs:schema>
